.ENV
.DS_Store
.coverage
*.pyc 
__pycache__/
.venv/

# Environment variables
.env
env/

# Testing
.pytest_cache/
htmlcov/
coverage.xml

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Build files
*.egg-info/
dist/
build/
venv
coverage.xml

# Next.js build output
.next
*.pack.gz
build-manifest.json
app-build-manifest.json
*.rscinfo
